h1 {
	font-size: 130px;
	line-height: 1;
	text-align: center;
}
#spinner {
	position: absolute;
	display: block;
	width:100%;
	height:100%;
	background:  url("../images/bkg_transparent.png") repeat scroll 0 0 transparent;
	left: 0%;
	z-index:9999;
}
#spinner h1 {
	color: #FFF;
}
#spinner-inner {
	position: absolute;
	top: 30%;
	text-align: center;
	width:100%;
}
#thinking {
	left: 50%;
	width:500px;
	border-radius:25px;
}
#mainBox {
	z-index:9998;
}

.item-box {
/* 	border: 1px solid #EDEDED; */
/* 	border-radius: 5px; */
}

.item-category-box {
/* 	min-height: 60px; */
/* 	padding-top: 3px; */
}
/* .item-category-box span.label { */
.item-category-box span {	
	margin: 0 0 3px 0;
	padding: 3px;
	float: left;
	color: #999;
}
/* .category-title-separator { */
/* 	border-bottom: 1px solid #EDEDED; */
/* 	clear: both; */
/* 	padding: 5px 0 0 0; */
/* } */
.breadcrumb {
	background-color: #EDEDED;
}

.item-title-box {
	min-height: 40px;
	clear: both;
	text-align: center;
	margin: 15px 0 15px 0;
}
.item-title-box a {
	font-size: 20px;
	color: #563d7c;
}
.item-main-image-box {
	min-height: 100px;
	text-align: center;
}
.item-main-image-box img {
/* 	height: 250px; */
	max-width: 350px;
}

.rateBox {
	margin-top: 25px;
	margin-bottom: 20px;
	text-align: center;
}
.rateBox span {
	
}
span.label-white {
	color: #999;
}
.button-remove, .button-ok {
	width: 40%;
	margin: 0 3px 0 3px;
}
.button-ok {
	
}
#upperBox {
	text-align: center;
	margin: 0 0 25px 0;
}