h1 {
	font-size: 130px;
	line-height: 1;
	text-align: center;
}
#spinner {
	position: absolute;
	display: block;
	width:100%;
	height:100%;
	background:  url("../images/bkg_transparent.png") repeat scroll 0 0 transparent;
	left: 0%;
	z-index:9999;
}
#spinner h1 {
	color: #FFF;
}
#spinner-inner {
	position: absolute;
	top: 30%;
	text-align: center;
	width:100%;
}
#thinking {
	left: 50%;
	width:500px;
	border-radius:25px;
}
#mainBox {
	z-index:9998;
}

.item-box {
	width: 30%;
	margin: 1%;
	padding: 1%;
/* 	border: 1px solid #666; */
/* 	border-radius:5px; */
}

.item-category-box {
	margin: 10px 0 0 0;
}

.item-category-box button {
/* 	color: #EDEDED; */
}
/* .item-category-box span {	 */
/* 	margin: 0 0 3px 0; */
/* 	padding: 3px; */
/* 	float: left; */
/* 	color: #999; */
/* } */
.breadcrumb {
	background-color: #EDEDED;
}

.item-title-box {
	min-height: 40px;
	clear: both;
	text-align: center;
	margin: 15px 0 15px 0;
/* } */
/* .item-title-box a { */
	font-size: 20px;
	color: #563d7c;
}
.item-main-image-box {
	min-height: 100px;
	text-align: center;
	border-bottom: 1px solid #E2E2E2;
	padding: 15px 0 20px 0;
/* 	border-top: 1px solid #E2E2E2; */
}
.item-main-image-box img {
	max-width: 100%;
	cursor: pointer;
	border-radius: 3px;
/* 	border: 1px solid #EDEDED; */
	
}
.item-main-image-box .button-ok {
	position: absolute;
	width: 50px;
	right: 20px;
	margin-top: 3px;
	opacity: 0.8;
}
#mainBox .center {
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	margin-left: 0;
	margin-right: 0;
	padding-left: 2%;
	padding-right: 2%;
}
.rateBox {
/* 	margin-top: 25px; */
/* 	margin-bottom: 20px; */
/* 	text-align: center; */
}
.rateBox span {
	
}
span.label-white {
	color: #999;
}
.button-remove, .button-ok {
	width: 40%;
	margin: 0 3px 0 3px;
}
.button-ok {
	
}
#upperBox {
	text-align: center;
/* 	margin: 0 0 25px 0; */
	
/* 	position: absolute; */
/* 	right: 30px; */
/* 	top:10px; */
}

.filters {
	text-align: left;
}
.filter {
	margin: 0 0 5px 0;
}
.filter span {
	margin: 0 3px 0 0;
}
#more-button {
	// margin-top: 15%;
}
.breadcrumb-item {
	margin: 0 3px 3px 0;
}

.modal-body-up .item img {
	max-width: 80px;
	height: 80px;
	margin: 2px;
	border: 1px solid #ddd;
	padding: 1px;
	float: left;
}
.modal-body-down img {
	max-width: 100%;
	border: 1px solid #ddd;
}
.modal-body-up {
	margin: 0 0 10px 0;
	min-height: 86px;
}
.modal-body-down {
	text-align: center;
}
.modal-footer {
	clear: both;
}
.modal-header {
	padding-bottom: 5px;
}
.modal-header .item-title-box {
	text-align: left;
	font-size: 24px;
}
.modal-header .btn {
	
}
.modal .buttons{
	text-align: right;
}
.modal .buttons .btn {
	margin-left: 5px;
}
.modal .buttons .btn.back {
	background-color: #ebebeb;
	border-color: #ccc;
}
.ok-button {
	
}

.ch-carousel-content li {
 	width: 80px;
/*  	height: 80px; */
}
.carousel-inner>.item>img {
	
}
.carousel-control {
	background-image: none !important;
}
.carousel-control span {
	font-size:20px;
}
.ok-buttons{

}
#selectedItemsButtonBox {
 //   background: #333;
}
#selectedItemsBox {
display:none;
}

.selectedItemsLine {
// position: absolute;
// opacity: 0.7;
// width: 100%;
// left: -95%;
// top: 200px;
// z-index: 999;
// border-radius: 0 5px 5px 0;

min-height: 200px;
border-bottom: 1px solid #CCC;
// background-color: #333;
// background: rgba(0, 0, 0, 0.62);

}
#selectedItemsButton:hover {
color: #428bca;
}
#selectedItemsButton {
color: #333;
/*
color: #333;
opacity: 1;
right: 0;
top: 0;
position: absolute;
z-index: 999999;
*/
}

.selected-item-box {
// width: 20%;
opacity: 1;

padding: 5px;
// margin: 5px;
// float:left;
// max-height: 240px;
text-align: center;
}
.selected-item {
// background-color: #FFF;
}
.selected-item a {
}
.selected-item img {
max-width: 100%;
max-height: 160px;
margin: 5px;
}
#lowerBox {
text-align:right;
}
.selected-item-exclude {
 // background-color: #333;
 // background: rgba(0, 0, 0, 0.62);
 color: #333;
 float:right;
}
.selected-item-exclude span {
font-size: 20px;
width: 21px;
}

.navbar .navbar-form .glyphicon {
// color: #EDEDED;
}
.navbar {
margin-bottom: 0px !important;
}
